*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



body {
    background-image: url('../Code-Quiz/images/dark-honeycomb.png');
    margin: 0;
    padding: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    
}

.header {
    position: absolute;
    top: 0;
    color: white;
}

.h3 {
    margin: 20px 45px;

}



.timer {
    color: black;
    font-size: 25px;
    margin: auto auto;
    float: right;
}

.container {
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 15px;
    
}

.button-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.btn {
    border: 1px solid black;
    background-color:lightgrey;
    --hue: var(--hue-nuetral);
    background-color: hsl(var(--hue), 100%, 50%);
    border-radius: 5px;
    padding: 5px 10px;
    color: black
    
}

.btn:hover {
    border-color: green;
    color: red;
}

.btn.correct {
    --hue: var(--hue-correct);
    color: black;
}

.btn.incorrect {
    --hue: var(--hue-incorrect)
}

.start-btn {
    font-size: 100px;
    font-weight: bold;
    padding: 10px 20px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}

